    .button {
            background-color: #e51c23;
            color: white;
            border: none;
            border-radius: 7px;
            display: inline-block;
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
            outline: none;
         }
         .button:hover {
            background-color: #e51c23;
         }
         .button:active {
            background-color: #e51c23;
         }
    
